[Desktop Entry]
Comment=The Lucis Project
Name=Noc
X-KDE-PluginInfo-Author=Fabian Alexis / David Linares (Mcder3)
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=mcder3[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=L.I.M.A. License
X-KDE-PluginInfo-Name=
X-KDE-PluginInfo-Version=1.2.75
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
